[submodule "mcmeta"]
	path = mcmeta
	url = https://github.com/misode/mcmeta.git
[submodule "crates/valence-worldgen"]
	path = crates/valence-worldgen
	url = https://github.com/bits0rcerer/valence-worldgen.git
